### Tuple

In [95]:
#can be made of any sequence type, list or String, etc.
t1 = (1, 2, 3, 6, 7)

list_l = [1, 2, 3, 6, 7]
t2 = tuple(list_l)

#Lists and Tuples inside each other:
list_l2 = [[1, 2], 3, 6, 7]
t3 = tuple(list_l2)
print("type of T3:", type(t3[0]))
t4 = [(1,2), (3,4), (5,6)]
print("type of T4:", type(t4[0]))

#divide a tuple to its items
tup = (4, 5, (6, 7), 0, 0)
a, b, c, d, e = tup
print(c, type(c), b, type(b))

### accessing tuple items 
temp_tuple = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in temp_tuple:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

#discard the REST of values
t, f, *rest = tup  #in the same way you can write: d, *_ = tup 

rest, type(rest), rest[0], type(rest[0])

type of T3: <class 'list'>
type of T4: <class 'tuple'>
(6, 7) <class 'tuple'> 5 <class 'int'>
a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

([(6, 7), 0, 0], list, (6, 7), tuple)

### Tuple's functions - only one function

In [84]:
tup.count(0)

2

In [96]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Import pandas as pd
import pandas as pd

# Create dictionary my_dict with three key:value pairs: my_dict
my_dict = dict(zip(names, (zip(dr, cpc))))

# Build a DataFrame cars from my_dict: cars

print(my_dict)
# Print cars

{'United States': (True, 809), 'Australia': (False, 731), 'Japan': (False, 588), 'India': (False, 18), 'Russia': (True, 200), 'Morocco': (True, 70), 'Egypt': (True, 45)}