In [38]:
import pandas as pd
import numpy as np

### Series

<p> series are like a <mark>dictionary</mark> [index:value] of same type data </p>

In [10]:
s1 = pd.Series([1, 2, 3])
s1

0    1
1    2
2    3
dtype: int64

In [11]:
s1_1 = pd.Series([1, 2, 3], index = ['first', 'second', 'third'])
s1_1

first     1
second    2
third     3
dtype: int64

### Arithmetic on Series

In [13]:
# Series from a dict in python
s2_dict = {'first':'Tehran', 'second':'Isfahan', 'third':'Yazd'}
s2 = pd.Series(s2_dict)

In [22]:
a = pd.Series({'Tehran': 1500, 'Arak':2000, 'Yazd': 3000})
b = pd .Series({'Ahvaz' : 80, 'Tehran': 2500, 'Arak':3000, 'Yazd': 4000})
2*a + b

Ahvaz         NaN
Arak       7000.0
Tehran     5500.0
Yazd      10000.0
dtype: float64

In [26]:
b > 100

Ahvaz     False
Tehran     True
Arak       True
Yazd       True
dtype: bool

In [25]:
b[b>100]

Tehran    2500
Arak      3000
Yazd      4000
dtype: int64

In [31]:
b['Tehran']

(2500, Tehran    2500
 Yazd      4000
 dtype: int64)

In [37]:
#b['Tehran', 'Yazd'] # Raise ERRRRRROOOORRRRR
b[['Tehran', 'Yazd']]

Tehran    2500
Yazd      4000
dtype: int64

In [44]:
np.square(a)

Tehran    2250000
Arak      4000000
Yazd      9000000
dtype: int64

In [52]:
'Ahvaz' in a

False

In [56]:
2500 in b.values

True

In [72]:
(a+b).notnull(), (a+b).isnull()

(Ahvaz     False
 Arak       True
 Tehran     True
 Yazd       True
 dtype: bool, Ahvaz      True
 Arak      False
 Tehran    False
 Yazd      False
 dtype: bool)

In [77]:
a.name = 'Cities Area - 2010'
a.index.name = 'Cities'
a

Cities
Tehran    1500
Arak      2000
Yazd      3000
Name: Cities Area - 2010, dtype: int64