## Tuple

In [39]:
#can be made of any sequence type, list or String, etc.
t1 = (1, 2, 3, 6, 7)

list_l = [1, 2, 3, 6, 7]
t2 = tuple(list_l)

#Lists and Tuples inside each other:
list_l2 = [[1, 2], 3, 6, 7]
t3 = tuple(list_l2)
print("type of T3:", type(t3[0]))
t4 = [(1,2), (3,4), (5,6)]
print("type of T4:", type(t4[0]))

#divide a tuple to its items
tup = (4, 5, (6, 7), 0, 0)
a, b, c, d, e = tup
print(c, type(c), b, type(b))

### accessing tuple items 
temp_tuple = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in temp_tuple:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

#discard the REST of values
t, f, *rest = tup  #in the same way you can write: d, *_ = tup 

rest, type(rest), rest[0], type(rest[0])

type of T3: <class 'list'>
type of T4: <class 'tuple'>
(6, 7) <class 'tuple'> 5 <class 'int'>
a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

([(6, 7), 0, 0], list, (6, 7), tuple)

### Tuple's functions - only one function

In [40]:
tup.count(0)

2

## List

In [43]:
a = [1,2,3,4,5,6] #List
t = (1,2,3,4,5,6) #Tuple

t_list = list(t)
t_list

a_tuple = tuple(a)
a_tuple

type(a), type(a_tuple)

(list, tuple)

In [41]:
a.insert(6, 6.5) #inPlace
a

[1, 2, 3, 4, 5, 6, 6.5]

In [42]:
a.append(7) #Append is Computationally more efficient than insert, because insert should SHIFT ALL elements in memory
a

#### pop, and remove function

In [75]:
string_list = ['foo', 'red', 'peekaboo', 'baz', 'dwarf']
string_list.pop(-2) #inplace

'baz'

In [76]:
string_list

['foo', 'red', 'peekaboo', 'dwarf']

In [77]:
string_list.pop() #The last item

'dwarf'

#### Extend and shorten lists

In [68]:
string_list = ['foo', 'red', 'peekaboo', 'baz', 'dwarf']

#remove method
string_list.remove('red')
print(string_list)

# += operator
string_list += ['Ali', 'Mohammad', ('ali', 'mohammad')]
string_list
type(string_list[6])

#--------------------------------------------
extension1 = ['Ex1']
extension2 = ['Ex2']
extension3 = ['Ex3']
extension4 = ['Ex4']
extension5 = ['Ex5']
extension6 = ['Ex6']
extensions = []
for i in range(1, 6):
    extensions.extend(eval('extension'+str(i)))
#----------------------------------------------
for extension in extensions:
    string_list.append(extension)
print(string_list)
print('\n') 

#The difference between append and extend facing the strings
# APPEND gets an item, yet the EXTEND method gets a list
for extension in extensions:
    string_list.extend(extension)
print(string_list)
print('\n')

# (+= acts like extend method)
for extension in extensions:
    string_list += extension
print(string_list)

['foo', 'peekaboo', 'baz', 'dwarf']
['foo', 'peekaboo', 'baz', 'dwarf', 'Ali', 'Mohammad', ('ali', 'mohammad'), 'Ex1', 'Ex2', 'Ex3', 'Ex4', 'Ex5']


['foo', 'peekaboo', 'baz', 'dwarf', 'Ali', 'Mohammad', ('ali', 'mohammad'), 'Ex1', 'Ex2', 'Ex3', 'Ex4', 'Ex5', 'E', 'x', '1', 'E', 'x', '2', 'E', 'x', '3', 'E', 'x', '4', 'E', 'x', '5']


['foo', 'peekaboo', 'baz', 'dwarf', 'Ali', 'Mohammad', ('ali', 'mohammad'), 'Ex1', 'Ex2', 'Ex3', 'Ex4', 'Ex5', 'E', 'x', '1', 'E', 'x', '2', 'E', 'x', '3', 'E', 'x', '4', 'E', 'x', '5', 'E', 'x', '1', 'E', 'x', '2', 'E', 'x', '3', 'E', 'x', '4', 'E', 'x', '5']

### sort list

In [139]:
string_list = ['foo', 'red', 'peekaboo', 'baz', 'dwarf']
print(string_list) 
string_list.sort() # inplace
string_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

['baz', 'dwarf', 'foo', 'peekaboo', 'red']

In [79]:
sorted(string_list)

['baz', 'dwarf', 'foo', 'peekaboo', 'red']

In [84]:
numbers_list = [(2,4), (3,6), (2, 4), (6,7), (-1, -8)]

def comparator(tuple):
    return tuple[0]*tuple[1]

numbers_list.sort(key=comparator)

In [85]:
numbers_list

[(2, 4), (2, 4), (-1, -8), (3, 6), (6, 7)]

#### Binary search for sorting - BISECT

In [105]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]

#What is the difference of three methods of bisect:
# if you want to insert or get the index of an item and a same value already exists in the List
# bisect_right and bisect methods put the new item at the right of existing item
# bisect_left puts the new item at the left side of existing item 

print(bisect.bisect_right(c, 3), bisect.bisect(c, 3), bisect.bisect_left(c, 3))

5 5 4

In [108]:
# insort Bisect

bisect.insort(c, 3)
c

[1, 2, 2, 2, 3, 3, 3, 3, 4, 7]

#### Slicing

In [140]:
c[2:3] = [-99]
print(c)
type(c[2:3]) #it is not a number, however it is an individual 
c[-3:-1]    #index of arrays => to the end:[-(size of array), ...... , -3, -2, -1], from the first element: [0, 1, 2, 3, ....]
print(c[::2], c[0:-1: 2]) #from start to end, Step :2
print(c[::-1]) # a technique to Reverse the List

[1, 2, -99, 2, 3, 3, 3, 3, 4, 7]
[1, -99, 3, 3, 4] [1, -99, 3, 3, 4]
[7, 4, 3, 3, 3, 3, 2, -99, 2, 1]

## Enumerate

In [141]:
map = {}
for i, string in enumerate(string_list):
    map[i] = string
map

{0: 'baz', 1: 'dwarf', 2: 'foo', 3: 'peekaboo', 4: 'red'}

## Zip

In [163]:
numerical = [1, 2, 3, 4]
English = ['one', 'two', 'three']
Persian = ['Yek', 'Do', 'Se']

pairs = zip(numerical, English, Persian)
print(pairs)

<zip object at 0x7f67fc6e4ac8>

In [168]:
for i, (a, b, c) in enumerate(pairs):
    print("numerical value: {0}, \n English word: {1}, \n Persian word: {2}".format(a, b, c))

### Reversed

In [176]:
rv = list(reversed(range(1, 10)))
rv

[9, 8, 7, 6, 5, 4, 3, 2, 1]

# Dict

In [184]:
my_dict = {'a' : 'some value', 'b' : [1, 2, 3, 4]} #keys should be immutable
my_dict['c'] = True
my_dict['b']

[1, 2, 3, 4]

In [186]:
'some value' in my_dict, 'a' in my_dict

(False, True)

In [190]:
my_dict.keys(), my_dict.values()

(dict_keys(['a', 'b', 'c']), dict_values(['some value', [1, 2, 3, 4], True]))

In [192]:
my_dict.items()

dict_items([('a', 'some value'), ('b', [1, 2, 3, 4]), ('c', True)])

#### access the key of a value

In [202]:
# way 1: convert values to List and access their index
print(list(my_dict.keys())[list(my_dict.values()).index('some value')])

# way 2: 
print(next(key for key, value in my_dict.items() if value == 'some value'))

a
a

### merge two dicts

In [217]:
Tehran = {'Ali':'Sara', 'Mani':'Mahi'}
Yazd = {'Akbar':'Kobra', 'Asghar':'Soghra'}

partners = {}
partners.update(Tehran) #in-place changes
partners.update(Yazd)

partners

{'Ali': 'Sara', 'Mani': 'Mahi', 'Akbar': 'Kobra', 'Asghar': 'Soghra'}

In [218]:
partners.pop('Asghar')
del(partners['Mani'])

partners

{'Ali': 'Sara', 'Akbar': 'Kobra'}

#### Set Default value for keys:

In [223]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
words_tuple = tuple(words)
print(words_tuple.count('apple'))

letters = {}
for word in words:
    for letter in word:
        letters.setdefault(letter, []).append(word)

1

In [224]:
letters

{'a': ['apple', 'bat', 'bar', 'atom'],
 'p': ['apple', 'apple'],
 'l': ['apple'],
 'e': ['apple'],
 'b': ['bat', 'bar', 'book'],
 't': ['bat', 'atom'],
 'r': ['bar'],
 'o': ['atom', 'book', 'book'],
 'm': ['atom'],
 'k': ['book']}

##### Immutable Objects:
immutable objects, technically are called 'hashable'
keys of a dict should be immutable

##### to check whether one objec is hashable:

In [1]:
a = 12
b = True
c = 'ali'
d = [1, 2, 4]
t = tuple(d)

hash(a), hash(b), hash(c), hash(t)

(12, 1, 298939599396838247, 2528502973976161366)

## Set

In [32]:
s1 = set((2, 3, 5, 6, 8, 2, 3, 4, 10, 11, 12))
s2 = set([2, 3, 5, 6, 8, 2, 3, 4])

temp = set([2, 3, 5])

print(s1, s2)
s1.union(s2) # ~ s1 | s2

s1.intersection(s2) # ~ s1 & s2

{2, 3, 4, 5, 6, 8, 10, 11, 12} {2, 3, 4, 5, 6, 8}

{2, 3, 4, 5, 6, 8}

##### Subset, Superset

In [25]:
s1.issuperset(s2), s1.issubset(s2)

(True, False)

##### Equal Sets

In [53]:
{(1, 2, 4)} == {(1, 2, 4)}

True

### Union, difference

In [33]:
s1 | s2
s1 & s2
s1 |= temp
s1 &= temp
s1, s2

({2, 3, 5}, {2, 3, 4, 5, 6, 8})

In [35]:
s1 ^ s2 #Symmetric difference

{4, 6, 8}

In [74]:
my_data = [1, 2, 3, 4]
my_set = tuple(my_data)

my_set = {(1, 2)} # you can define a Set using this syntax: {tuple}

## List, set and Dict Comprehensions

### List

In [13]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
result = [len(x) for x in strings if len(x) >= 2]  # [ ... ]
result

[2, 3, 3, 4, 6]

In [62]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'], 
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

lower_case_names = []
for names in all_data:
    for name in names:
        lower_case_names.append(name.lower())

letter_map = {letter:word for word in lower_case_names for letter in word}
letter_map

{'j': 'javier',
 'o': 'john',
 'h': 'michael',
 'n': 'natalia',
 'e': 'javier',
 'm': 'maria',
 'i': 'pilar',
 'l': 'pilar',
 'y': 'mary',
 'c': 'michael',
 'a': 'pilar',
 'r': 'pilar',
 's': 'steven',
 't': 'natalia',
 'v': 'javier',
 'u': 'juan',
 'p': 'pilar'}

In [65]:
lengths = [len(l) for ll in all_data for l in ll]

lengths

[4, 5, 7, 4, 6, 5, 4, 6, 7, 5]

### Set

In [76]:
unique_lengths = {len(s) for s in strings}

###### functional

In [3]:
set(map(len, strings))

{1, 2, 3, 4, 6}

### Dict

In [12]:
{value : len(value) for index, value in enumerate(strings)}

{'a': 1, 'as': 2, 'bat': 3, 'car': 3, 'dove': 4, 'python': 6}

In [66]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

# Functions

Just to mention some key applications of functions in python here

In [71]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

# multiple outputs:
def words_counter(words):
        return len(words), words[0].count('a')
words_counter(words)

(5, 1)

#### apply a list of functions to a list of arguments

A more functional pattern like this enables you to easily modify how the strings are
transformed at a very high level

In [89]:
import re

states = [' Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 'south carolina##', 'West virginia?']

def remove_punctuations(word):
    return re.sub('[!#?]','', word)
    
functions = [str.strip,
            remove_punctuations,
            str.title]
result = []

for word in states:
    for function in functions:
        word = function(word)
    result.append(word)
    
result

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

### Anonymous Function

#### lambda
we want to apply a function to the items of a List

In [97]:
def apply_to_list(ints, function):
    return [function(x) for x in ints]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]