## Tuple

In [39]:
#can be made of any sequence type, list or String, etc.
t1 = (1, 2, 3, 6, 7)

list_l = [1, 2, 3, 6, 7]
t2 = tuple(list_l)

#Lists and Tuples inside each other:
list_l2 = [[1, 2], 3, 6, 7]
t3 = tuple(list_l2)
print("type of T3:", type(t3[0]))
t4 = [(1,2), (3,4), (5,6)]
print("type of T4:", type(t4[0]))

#divide a tuple to its items
tup = (4, 5, (6, 7), 0, 0)
a, b, c, d, e = tup
print(c, type(c), b, type(b))

### accessing tuple items 
temp_tuple = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in temp_tuple:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

#discard the REST of values
t, f, *rest = tup  #in the same way you can write: d, *_ = tup 

rest, type(rest), rest[0], type(rest[0])

type of T3: <class 'list'>
type of T4: <class 'tuple'>
(6, 7) <class 'tuple'> 5 <class 'int'>
a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

([(6, 7), 0, 0], list, (6, 7), tuple)

### Tuple's functions - only one function

In [40]:
tup.count(0)

2

## List

In [43]:
a = [1,2,3,4,5,6] #List
t = (1,2,3,4,5,6) #Tuple

t_list = list(t)
t_list

a_tuple = tuple(a)
a_tuple

type(a), type(a_tuple)

(list, tuple)

In [41]:
a.insert(6, 6.5) #inPlace
a

[1, 2, 3, 4, 5, 6, 6.5]

In [42]:
a.append(7) #Append is Computationally more efficient than insert, because insert should SHIFT ALL elements in memory
a

#### pop, and remove function

In [75]:
string_list = ['foo', 'red', 'peekaboo', 'baz', 'dwarf']
string_list.pop(-2) #inplace

'baz'

In [76]:
string_list

['foo', 'red', 'peekaboo', 'dwarf']

In [77]:
string_list.pop() #The last item

'dwarf'

#### Extend and shorten lists

In [68]:
string_list = ['foo', 'red', 'peekaboo', 'baz', 'dwarf']

#remove method
string_list.remove('red')
print(string_list)

# += operator
string_list += ['Ali', 'Mohammad', ('ali', 'mohammad')]
string_list
type(string_list[6])

#--------------------------------------------
extension1 = ['Ex1']
extension2 = ['Ex2']
extension3 = ['Ex3']
extension4 = ['Ex4']
extension5 = ['Ex5']
extension6 = ['Ex6']
extensions = []
for i in range(1, 6):
    extensions.extend(eval('extension'+str(i)))
#----------------------------------------------
for extension in extensions:
    string_list.append(extension)
print(string_list)
print('\n') 

#The difference between append and extend facing the strings
# APPEND gets an item, yet the EXTEND method gets a list
for extension in extensions:
    string_list.extend(extension)
print(string_list)
print('\n')

# (+= acts like extend method)
for extension in extensions:
    string_list += extension
print(string_list)

['foo', 'peekaboo', 'baz', 'dwarf']
['foo', 'peekaboo', 'baz', 'dwarf', 'Ali', 'Mohammad', ('ali', 'mohammad'), 'Ex1', 'Ex2', 'Ex3', 'Ex4', 'Ex5']


['foo', 'peekaboo', 'baz', 'dwarf', 'Ali', 'Mohammad', ('ali', 'mohammad'), 'Ex1', 'Ex2', 'Ex3', 'Ex4', 'Ex5', 'E', 'x', '1', 'E', 'x', '2', 'E', 'x', '3', 'E', 'x', '4', 'E', 'x', '5']


['foo', 'peekaboo', 'baz', 'dwarf', 'Ali', 'Mohammad', ('ali', 'mohammad'), 'Ex1', 'Ex2', 'Ex3', 'Ex4', 'Ex5', 'E', 'x', '1', 'E', 'x', '2', 'E', 'x', '3', 'E', 'x', '4', 'E', 'x', '5', 'E', 'x', '1', 'E', 'x', '2', 'E', 'x', '3', 'E', 'x', '4', 'E', 'x', '5']

### sort list

In [139]:
string_list = ['foo', 'red', 'peekaboo', 'baz', 'dwarf']
print(string_list) 
string_list.sort() # inplace
string_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

['baz', 'dwarf', 'foo', 'peekaboo', 'red']

In [79]:
sorted(string_list)

['baz', 'dwarf', 'foo', 'peekaboo', 'red']

In [84]:
numbers_list = [(2,4), (3,6), (2, 4), (6,7), (-1, -8)]

def comparator(tuple):
    return tuple[0]*tuple[1]

numbers_list.sort(key=comparator)

In [85]:
numbers_list

[(2, 4), (2, 4), (-1, -8), (3, 6), (6, 7)]

#### Binary search for sorting - BISECT

In [105]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]

#What is the difference of three methods of bisect:
# if you want to insert or get the index of an item and a same value already exists in the List
# bisect_right and bisect methods put the new item at the right of existing item
# bisect_left puts the new item at the left side of existing item 

print(bisect.bisect_right(c, 3), bisect.bisect(c, 3), bisect.bisect_left(c, 3))

5 5 4

In [108]:
# insort Bisect

bisect.insort(c, 3)
c

[1, 2, 2, 2, 3, 3, 3, 3, 4, 7]

#### Slicing

In [140]:
c[2:3] = [-99]
print(c)
type(c[2:3]) #it is not a number, however it is an individual 
c[-3:-1]    #index of arrays => to the end:[-(size of array), ...... , -3, -2, -1], from the first element: [0, 1, 2, 3, ....]
print(c[::2], c[0:-1: 2]) #from start to end, Step :2
print(c[::-1]) # a technique to Reverse the List

[1, 2, -99, 2, 3, 3, 3, 3, 4, 7]
[1, -99, 3, 3, 4] [1, -99, 3, 3, 4]
[7, 4, 3, 3, 3, 3, 2, -99, 2, 1]

## Enumerate

In [141]:
map = {}
for i, string in enumerate(string_list):
    map[i] = string
map

{0: 'baz', 1: 'dwarf', 2: 'foo', 3: 'peekaboo', 4: 'red'}

## Zip

In [163]:
numerical = [1, 2, 3, 4]
English = ['one', 'two', 'three']
Persian = ['Yek', 'Do', 'Se']

pairs = zip(numerical, English, Persian)
print(pairs)

<zip object at 0x7f67fc6e4ac8>

In [168]:
for i, (a, b, c) in enumerate(pairs):
    print("numerical value: {0}, \n English word: {1}, \n Persian word: {2}".format(a, b, c))

### Reversed

In [176]:
rv = list(reversed(range(1, 10)))
rv

[9, 8, 7, 6, 5, 4, 3, 2, 1]

# Dict

In [132]:
my_dict = {'a' : 'some value', 'b' : [1, 2, 3, 4]} #keys should be immutable
my_dict['c'] = True
my_dict['b']

#make dicts Comprehension
dict((i,i**2) for i in range(100))

{0: 0,
 1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400,
 21: 441,
 22: 484,
 23: 529,
 24: 576,
 25: 625,
 26: 676,
 27: 729,
 28: 784,
 29: 841,
 30: 900,
 31: 961,
 32: 1024,
 33: 1089,
 34: 1156,
 35: 1225,
 36: 1296,
 37: 1369,
 38: 1444,
 39: 1521,
 40: 1600,
 41: 1681,
 42: 1764,
 43: 1849,
 44: 1936,
 45: 2025,
 46: 2116,
 47: 2209,
 48: 2304,
 49: 2401,
 50: 2500,
 51: 2601,
 52: 2704,
 53: 2809,
 54: 2916,
 55: 3025,
 56: 3136,
 57: 3249,
 58: 3364,
 59: 3481,
 60: 3600,
 61: 3721,
 62: 3844,
 63: 3969,
 64: 4096,
 65: 4225,
 66: 4356,
 67: 4489,
 68: 4624,
 69: 4761,
 70: 4900,
 71: 5041,
 72: 5184,
 73: 5329,
 74: 5476,
 75: 5625,
 76: 5776,
 77: 5929,
 78: 6084,
 79: 6241,
 80: 6400,
 81: 6561,
 82: 6724,
 83: 6889,
 84: 7056,
 85: 7225,
 86: 7396,
 87: 7569,
 88: 7744,
 89: 7921,
 90: 8100,
 91: 8281,
 92: 8464,
 93: 8649,
 94: 8836,
 95: 9025,
 96: 9216,
 97: 9409,
 98: 9604,
 99: 9801}

In [186]:
'some value' in my_dict, 'a' in my_dict

(False, True)

In [190]:
my_dict.keys(), my_dict.values()

(dict_keys(['a', 'b', 'c']), dict_values(['some value', [1, 2, 3, 4], True]))

In [192]:
my_dict.items()

dict_items([('a', 'some value'), ('b', [1, 2, 3, 4]), ('c', True)])

#### access the key of a value

In [202]:
# way 1: convert values to List and access their index
print(list(my_dict.keys())[list(my_dict.values()).index('some value')])

# way 2: 
print(next(key for key, value in my_dict.items() if value == 'some value'))

a
a

### merge two dicts

In [217]:
Tehran = {'Ali':'Sara', 'Mani':'Mahi'}
Yazd = {'Akbar':'Kobra', 'Asghar':'Soghra'}

partners = {}
partners.update(Tehran) #in-place changes
partners.update(Yazd)

partners

{'Ali': 'Sara', 'Mani': 'Mahi', 'Akbar': 'Kobra', 'Asghar': 'Soghra'}

In [218]:
partners.pop('Asghar')
del(partners['Mani'])

partners

{'Ali': 'Sara', 'Akbar': 'Kobra'}

#### Set Default value for keys:

In [223]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
words_tuple = tuple(words)
print(words_tuple.count('apple'))

letters = {}
for word in words:
    for letter in word:
        letters.setdefault(letter, []).append(word)

1

In [224]:
letters

{'a': ['apple', 'bat', 'bar', 'atom'],
 'p': ['apple', 'apple'],
 'l': ['apple'],
 'e': ['apple'],
 'b': ['bat', 'bar', 'book'],
 't': ['bat', 'atom'],
 'r': ['bar'],
 'o': ['atom', 'book', 'book'],
 'm': ['atom'],
 'k': ['book']}

##### Immutable Objects:
immutable objects, technically are called 'hashable'
keys of a dict should be immutable

##### to check whether one objec is hashable:

In [1]:
a = 12
b = True
c = 'ali'
d = [1, 2, 4]
t = tuple(d)

hash(a), hash(b), hash(c), hash(t)

(12, 1, 298939599396838247, 2528502973976161366)

## Set

In [32]:
s1 = set((2, 3, 5, 6, 8, 2, 3, 4, 10, 11, 12))
s2 = set([2, 3, 5, 6, 8, 2, 3, 4])

temp = set([2, 3, 5])

print(s1, s2)
s1.union(s2) # ~ s1 | s2

s1.intersection(s2) # ~ s1 & s2

{2, 3, 4, 5, 6, 8, 10, 11, 12} {2, 3, 4, 5, 6, 8}

{2, 3, 4, 5, 6, 8}

##### Subset, Superset

In [25]:
s1.issuperset(s2), s1.issubset(s2)

(True, False)

##### Equal Sets

In [53]:
{(1, 2, 4)} == {(1, 2, 4)}

True

### Union, difference

In [33]:
s1 | s2
s1 & s2
s1 |= temp
s1 &= temp
s1, s2

({2, 3, 5}, {2, 3, 4, 5, 6, 8})

In [35]:
s1 ^ s2 #Symmetric difference

{4, 6, 8}

In [74]:
my_data = [1, 2, 3, 4]
my_set = tuple(my_data)

my_set = {(1, 2)} # you can define a Set using this syntax: {tuple}

## List, set and Dict Comprehensions

### List

In [13]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
result = [len(x) for x in strings if len(x) >= 2]  # [ ... ]
result

[2, 3, 3, 4, 6]

In [62]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'], 
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

lower_case_names = []
for names in all_data:
    for name in names:
        lower_case_names.append(name.lower())

letter_map = {letter:word for word in lower_case_names for letter in word}
letter_map

{'j': 'javier',
 'o': 'john',
 'h': 'michael',
 'n': 'natalia',
 'e': 'javier',
 'm': 'maria',
 'i': 'pilar',
 'l': 'pilar',
 'y': 'mary',
 'c': 'michael',
 'a': 'pilar',
 'r': 'pilar',
 's': 'steven',
 't': 'natalia',
 'v': 'javier',
 'u': 'juan',
 'p': 'pilar'}

In [65]:
lengths = [len(l) for ll in all_data for l in ll]

lengths

[4, 5, 7, 4, 6, 5, 4, 6, 7, 5]

### Set

In [76]:
unique_lengths = {len(s) for s in strings}

###### functional

In [3]:
set(map(len, strings))

{1, 2, 3, 4, 6}

### Dict

In [12]:
{value : len(value) for index, value in enumerate(strings)}

{'a': 1, 'as': 2, 'bat': 3, 'car': 3, 'dove': 4, 'python': 6}

In [66]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

# Functions

Just to mention some key applications of functions in python here

In [71]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

# multiple outputs:
def words_counter(words):
        return len(words), words[0].count('a')
words_counter(words)

(5, 1)

#### apply a list of functions to a list of arguments

A more functional pattern like this enables you to easily modify how the strings are
transformed at a very high level

In [89]:
import re

states = [' Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 'south carolina##', 'West virginia?']

def remove_punctuations(word):
    return re.sub('[!#?]','', word)
    
functions = [str.strip,
            remove_punctuations,
            str.title]
result = []

for word in states:
    for function in functions:
        word = function(word)
    result.append(word)
    
result

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

### Anonymous Function

#### lambda
we want to apply a function to the items of a List

In [97]:
def apply_to_list(ints, function):
    return [function(x) for x in ints]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

assume that we want to define a function for the **key** of sort function

In [100]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
strings.sort(key=lambda x: len(set(list(x))), reverse=True)
strings

['card', 'bar', 'foo', 'abab', 'aaaa']

### Currying
partial use of a function

In [108]:
def multiply_function(x, y):
    return (x-2) * y

mul_five = lambda x: multiply_function(x, 5)

from functools import partial
mul_five = partial(multiply_function, 5)

mul_five(3)

9

### Generator

you can generate some things and save in a generator

In [127]:
# two ways to make generator:

# 1
# use paranthesis in Comprehensions
gen1 = (x**2 for x in range(100)) 

# 2
# use Yield keyword
def make_gen():
    for i in range(100):
        yield x**3
gen2 = make_gen()

print(gen1)
print(gen2, end = '\n\n')

for item in gen1:
    print(item)

<generator object <genexpr> at 0x7f373ec491b0>
<generator object make_gen at 0x7f373ec492a0>

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801

### Iterators

In [27]:
import itertools as it

names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

first_letter = lambda x: x[0]

for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names))
    
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for i in itertools.combinations_with_replacement(names, 4):
    print(i)

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']
('Alan', 'Alan', 'Alan', 'Alan')
('Alan', 'Alan', 'Alan', 'Adam')
('Alan', 'Alan', 'Alan', 'Wes')
('Alan', 'Alan', 'Alan', 'Will')
('Alan', 'Alan', 'Alan', 'Albert')
('Alan', 'Alan', 'Alan', 'Steven')
('Alan', 'Alan', 'Adam', 'Adam')
('Alan', 'Alan', 'Adam', 'Wes')
('Alan', 'Alan', 'Adam', 'Will')
('Alan', 'Alan', 'Adam', 'Albert')
('Alan', 'Alan', 'Adam', 'Steven')
('Alan', 'Alan', 'Wes', 'Wes')
('Alan', 'Alan', 'Wes', 'Will')
('Alan', 'Alan', 'Wes', 'Albert')
('Alan', 'Alan', 'Wes', 'Steven')
('Alan', 'Alan', 'Will', 'Will')
('Alan', 'Alan', 'Will', 'Albert')
('Alan', 'Alan', 'Will', 'Steven')
('Alan', 'Alan', 'Albert', 'Albert')
('Alan', 'Alan', 'Albert', 'Steven')
('Alan', 'Alan', 'Steven', 'Steven')
('Alan', 'Adam', 'Adam', 'Adam')
('Alan', 'Adam', 'Adam', 'Wes')
('Alan', 'Adam', 'Adam', 'Will')
('Alan', 'Adam', 'Adam', 'Albert')
('Alan', 'Adam', 'Adam', 'Steven')
('Alan', 'Adam', 'Wes', 'Wes')
('Alan', 'Adam', 'Wes', 'Will')
('Alan', 'Adam', 'Wes', 'Albert')
('Alan', 'Adam', 'Wes', 'Steven')
('Alan', 'Adam', 'Will', 'Will')
('Alan', 'Adam', 'Will', 'Albert')
('Alan', 'Adam', 'Will', 'Steven')
('Alan', 'Adam', 'Albert', 'Albert')
('Alan', 'Adam', 'Albert', 'Steven')
('Alan', 'Adam', 'Steven', 'Steven')
('Alan', 'Wes', 'Wes', 'Wes')
('Alan', 'Wes', 'Wes', 'Will')
('Alan', 'Wes', 'Wes', 'Albert')
('Alan', 'Wes', 'Wes', 'Steven')
('Alan', 'Wes', 'Will', 'Will')
('Alan', 'Wes', 'Will', 'Albert')
('Alan', 'Wes', 'Will', 'Steven')
('Alan', 'Wes', 'Albert', 'Albert')
('Alan', 'Wes', 'Albert', 'Steven')
('Alan', 'Wes', 'Steven', 'Steven')
('Alan', 'Will', 'Will', 'Will')
('Alan', 'Will', 'Will', 'Albert')
('Alan', 'Will', 'Will', 'Steven')
('Alan', 'Will', 'Albert', 'Albert')
('Alan', 'Will', 'Albert', 'Steven')
('Alan', 'Will', 'Steven', 'Steven')
('Alan', 'Albert', 'Albert', 'Albert')
('Alan', 'Albert', 'Albert', 'Steven')
('Alan', 'Albert', 'Steven', 'Steven')
('Alan', 'Steven', 'Steven', 'Steven')
('Adam', 'Adam', 'Adam', 'Adam')
('Adam', 'Adam', 'Adam', 'Wes')
('Adam', 'Adam', 'Adam', 'Will')
('Adam', 'Adam', 'Adam', 'Albert')
('Adam', 'Adam', 'Adam', 'Steven')
('Adam', 'Adam', 'Wes', 'Wes')
('Adam', 'Adam', 'Wes', 'Will')
('Adam', 'Adam', 'Wes', 'Albert')
('Adam', 'Adam', 'Wes', 'Steven')
('Adam', 'Adam', 'Will', 'Will')
('Adam', 'Adam', 'Will', 'Albert')
('Adam', 'Adam', 'Will', 'Steven')
('Adam', 'Adam', 'Albert', 'Albert')
('Adam', 'Adam', 'Albert', 'Steven')
('Adam', 'Adam', 'Steven', 'Steven')
('Adam', 'Wes', 'Wes', 'Wes')
('Adam', 'Wes', 'Wes', 'Will')
('Adam', 'Wes', 'Wes', 'Albert')
('Adam', 'Wes', 'Wes', 'Steven')
('Adam', 'Wes', 'Will', 'Will')
('Adam', 'Wes', 'Will', 'Albert')
('Adam', 'Wes', 'Will', 'Steven')
('Adam', 'Wes', 'Albert', 'Albert')
('Adam', 'Wes', 'Albert', 'Steven')
('Adam', 'Wes', 'Steven', 'Steven')
('Adam', 'Will', 'Will', 'Will')
('Adam', 'Will', 'Will', 'Albert')
('Adam', 'Will', 'Will', 'Steven')
('Adam', 'Will', 'Albert', 'Albert')
('Adam', 'Will', 'Albert', 'Steven')
('Adam', 'Will', 'Steven', 'Steven')
('Adam', 'Albert', 'Albert', 'Albert')
('Adam', 'Albert', 'Albert', 'Steven')
('Adam', 'Albert', 'Steven', 'Steven')
('Adam', 'Steven', 'Steven', 'Steven')
('Wes', 'Wes', 'Wes', 'Wes')
('Wes', 'Wes', 'Wes', 'Will')
('Wes', 'Wes', 'Wes', 'Albert')
('Wes', 'Wes', 'Wes', 'Steven')
('Wes', 'Wes', 'Will', 'Will')
('Wes', 'Wes', 'Will', 'Albert')
('Wes', 'Wes', 'Will', 'Steven')
('Wes', 'Wes', 'Albert', 'Albert')
('Wes', 'Wes', 'Albert', 'Steven')
('Wes', 'Wes', 'Steven', 'Steven')
('Wes', 'Will', 'Will', 'Will')
('Wes', 'Will', 'Will', 'Albert')
('Wes', 'Will', 'Will', 'Steven')
('Wes', 'Will', 'Albert', 'Albert')
('Wes', 'Will', 'Albert', 'Steven')
('Wes', 'Will', 'Steven', 'Steven')
('Wes', 'Albert', 'Albert', 'Albert')
('Wes', 'Albert', 'Albert', 'Steven')
('Wes', 'Albert', 'Steven', 'Steven')
('Wes', 'Steven', 'Steven', 'Steven')
('Will', 'Will', 'Will', 'Will')
('Will', 'Will', 'Will', 'Albert')
('Will', 'Will', 'Will', 'Steven')
('Will', 'Will', 'Albert', 'Albert')
('Will', 'Will', 'Albert', 'Steven')
('Will', 'Will', 'Steven', 'Steven')
('Will', 'Albert', 'Albert', 'Albert')
('Will', 'Albert', 'Albert', 'Steven')
('Will', 'Albert', 'Steven', 'Steven')
('Will', 'Steven', 'Steven', 'Steven')
('Albert', 'Albert', 'Albert', 'Albert')
('Albert', 'Albert', 'Albert', 'Steven')
('Albert', 'Albert', 'Steven', 'Steven')
('Albert', 'Steven', 'Steven', 'Steven')
('Steven', 'Steven', 'Steven', 'Steven')

## Error handling in python

In [9]:
def float_value(temp_string):
    try:
        return float(temp_string)
    except(TypeError, ValueError):
        return temp_string
    finally:
        print('Error Handling Done!')

float_value('1.2'), float_value('error')


try:
    f = open(path, 'w')
    write_to_file(f)
except:
    print('Failed')
else:
    print('Succeeded')
finally:
    f.close()

Error Handling Done!
Error Handling Done!
Failed

NameError: name 'f' is not defined

## File

### different modes on openning files:
**W** : write mode, overrites if the file exists 

**r** : read mode

**r+**: read and Write mode

**X** : write, error throws if a file with the same name exists

<img src='./table1.jpg' align="left">

In [112]:
f = open('test1.txt','w+')
my_string = "Sueña el rico en su riqueza ue más cuidados le ofrece sueña el pobre que padece su miseria \n y su pobreza; sueña el que a medrar empieza sueña el que afana y pretendesueña el que agravia \n y ofendey en el mundo en conclusióntodos sueñan lo que sonaunque ninguno lo entiende."
f.write(my_string)
f.close()

In [163]:
f = open('test1.txt', 'r')
line = f.read()
line

'Sueña el rico en su riqueza ue más cuidados le ofrece sueña el pobre que padece su miseria \n\n y su pobreza; sueña el que a medrar empieza sueña el que afana y pretendesueña el que agravia \n\\n \n y ofendey en el mundo en conclusióntodos sueñan lo que sonaunque ninguno lo entiende.'

In [155]:
f = open('test1.txt','r+')
my_string = "Sueña el rico en su riqueza ue más cuidados le ofrece sueña el pobre que padece su miseria \n y su pobreza; sueña el que a medrar empieza sueña el que afana y pretendesueña el que agravia \n y ofendey en el mundo en conclusióntodos sueñan lo que sonaunque ninguno lo entiende."
f.write(my_string)
f.tell()

282

In [165]:
f.seek(5) #puts the header on the fifth Character
f.read(10) #reads 10 Character

'a el rico '

In [166]:
f.close()

Automatically close files using **With** keyword

In [170]:
with open('test1.txt') as f:
    print(f.read(120))

Sueña el rico en su riqueza ue más cuidados le ofrece sueña el pobre que padece su miseria

 y su pobreza; sueña el que

<img src='table2.jpg'>

<img src="table2-2.jpg">